* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer {
  padding: 20px;
  text-align: center;

}

header {
  background-color: yellowgreen;
}

header img {
  width: 80px;
  border-radius: 50%;
}

main {
  background-color: wheat;
}

main section {
  background-color: thistle;
  display: grid;
  padding: 20px;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

main section div {
  background-color: violet;
  padding: 20px;
  justify-self: center;
}

main section div p span {
  display: inline-block;
  margin-left: 5px;
}

footer {
  background-color: brown;
  color: white;
}

